#navImage {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
html,
body {
    height: 100%;
    font-size: 1em;
    font-style:italic;
}

.gradient {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,203,169,0.43461134453781514) 87%, rgba(0,212,255,1) 100%);
}

.page-header {
    margin-top: 4em;
    font-size: 1.2em;
    color: #fff;
}
#aboutmeIMG {
    padding-top: 75px;
    border-radius: 0;
    height: 600px;
    width: 600px;
    
}

#lowerIMG {
    padding-top: 75px;
    border-radius: 0;
    height: 500px;
    width: 500px;
}
.feature {
    color: wheat;
}
.feature ul {
    padding-left: rem;
    list-style-type: square;
}

.feature ul li {
    padding-left: 2rem;
    line-height: 1.5em;
    margin-bottom: 1em;
    
}
.icon {
    color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.projects {
    color: wheat;
}

a {
    text-decoration: none;
    font-style: oblique;
    color: wheat;
}
#links {
    color: #0099ff;
    padding-right: 600px;
    font-size: 100px;
}

.my-3 {
    font-size: 90px;
    padding-bottom: 10px;
}

.text-center {
    text-align: center;
    text-decoration: none;
}
.formspree {
    text-align: center;
    border: 1px solid black;
}
label {
    padding:  20px;
}